body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 51, 102, 1);
  border:none;
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u8 {
  position:absolute;
  left:154px;
  top:134px;
  width:66px;
  height:66px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:25px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:220px;
  width:374px;
  height:63px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:4px;
  width:374px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u12 {
  position:absolute;
  left:165px;
  top:437px;
  width:44px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
}
#u14 {
  position:absolute;
  left:167px;
  top:151px;
  width:41px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  color:#999999;
  line-height:36px;
}
#u16 {
  position:absolute;
  left:6px;
  top:93px;
  width:375px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  color:#999999;
  line-height:36px;
}
#u17 {
  position:absolute;
  left:0px;
  top:-1px;
  width:375px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:165px;
}
#u18 {
  position:absolute;
  left:30px;
  top:231px;
  width:314px;
  height:165px;
}
#u19 {
  position:absolute;
  left:2px;
  top:74px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:273px;
}
#u20 {
  position:absolute;
  left:-1px;
  top:262px;
  width:375px;
  height:273px;
}
#u21 {
  position:absolute;
  left:2px;
  top:128px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
