body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:485px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:226px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:226px;
}
#u71 {
  position:absolute;
  left:2px;
  top:105px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
}
#u72 {
  position:absolute;
  left:63px;
  top:28px;
  width:250px;
  height:250px;
}
#u73 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u75 {
  position:absolute;
  left:280px;
  top:256px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u76 {
  position:absolute;
  left:0px;
  top:15px;
  width:50px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u77 {
  position:absolute;
  left:289px;
  top:313px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u80 {
  position:absolute;
  left:163px;
  top:256px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u81 {
  position:absolute;
  left:0px;
  top:13px;
  width:50px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u82 {
  position:absolute;
  left:161px;
  top:315px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u85 {
  position:absolute;
  left:44px;
  top:256px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u86 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u87 {
  position:absolute;
  left:43px;
  top:313px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u89 {
  position:absolute;
  left:10px;
  top:613px;
  width:70px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u89_img.mouseDown {
}
#u89.mouseDown {
}
#u89_img.selected {
}
#u89.selected {
}
#u90 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u91 {
  position:absolute;
  left:0px;
  top:610px;
  width:375px;
  height:1px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u93 {
  position:absolute;
  left:102px;
  top:613px;
  width:70px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u93_img.mouseDown {
}
#u93.mouseDown {
}
#u93_img.selected {
}
#u93.selected {
}
#u94 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u95 {
  position:absolute;
  left:203px;
  top:613px;
  width:70px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u95_img.mouseDown {
}
#u95.mouseDown {
}
#u95_img.selected {
}
#u95.selected {
}
#u96 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u97 {
  position:absolute;
  left:296px;
  top:613px;
  width:70px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u97_img.selected {
}
#u97.selected {
}
#u98 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u100 {
  position:absolute;
  left:280px;
  top:353px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u101 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u102 {
  position:absolute;
  left:279px;
  top:410px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u105 {
  position:absolute;
  left:163px;
  top:353px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u106 {
  position:absolute;
  left:0px;
  top:13px;
  width:50px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u107 {
  position:absolute;
  left:162px;
  top:410px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u110 {
  position:absolute;
  left:44px;
  top:353px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u111 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u112 {
  position:absolute;
  left:56px;
  top:409px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u115 {
  position:absolute;
  left:163px;
  top:448px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u116 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u117 {
  position:absolute;
  left:161px;
  top:505px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u120 {
  position:absolute;
  left:44px;
  top:448px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u121 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u122 {
  position:absolute;
  left:43px;
  top:505px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u125 {
  position:absolute;
  left:282px;
  top:448px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u126 {
  position:absolute;
  left:0px;
  top:15px;
  width:50px;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u127 {
  position:absolute;
  left:288px;
  top:505px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:425px;
  top:339px;
  width:60px;
  height:20px;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u131 {
  position:absolute;
  left:161px;
  top:85px;
  width:61px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u133 {
  position:absolute;
  left:72px;
  top:107px;
  width:55px;
  height:55px;
}
#u134 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u135 {
  position:absolute;
  left:249px;
  top:106px;
  width:55px;
  height:55px;
}
#u136 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
