body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:411px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:226px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:226px;
}
#u68 {
  position:absolute;
  left:2px;
  top:105px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
}
#u69 {
  position:absolute;
  left:79px;
  top:28px;
  width:250px;
  height:250px;
}
#u70 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u72 {
  position:absolute;
  left:297px;
  top:252px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u73 {
  position:absolute;
  left:0px;
  top:15px;
  width:50px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u74 {
  position:absolute;
  left:306px;
  top:309px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u77 {
  position:absolute;
  left:180px;
  top:252px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u78 {
  position:absolute;
  left:0px;
  top:13px;
  width:50px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u79 {
  position:absolute;
  left:178px;
  top:311px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u82 {
  position:absolute;
  left:61px;
  top:252px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u83 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u84 {
  position:absolute;
  left:60px;
  top:309px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u86 {
  position:absolute;
  left:10px;
  top:676px;
  width:70px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u86_img.selected {
}
#u86.selected {
}
#u87 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u88 {
  position:absolute;
  left:-3px;
  top:665px;
  width:414px;
  height:1px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u90 {
  position:absolute;
  left:102px;
  top:676px;
  width:70px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u90_img.selected {
}
#u90.selected {
}
#u91 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u92 {
  position:absolute;
  left:203px;
  top:676px;
  width:70px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u92_img.selected {
}
#u92.selected {
}
#u93 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u94 {
  position:absolute;
  left:296px;
  top:676px;
  width:70px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u94_img.selected {
}
#u94.selected {
}
#u95 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u97 {
  position:absolute;
  left:297px;
  top:349px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u98 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u99 {
  position:absolute;
  left:296px;
  top:406px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u102 {
  position:absolute;
  left:180px;
  top:349px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u103 {
  position:absolute;
  left:0px;
  top:13px;
  width:50px;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u104 {
  position:absolute;
  left:179px;
  top:406px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u107 {
  position:absolute;
  left:61px;
  top:349px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u108 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u109 {
  position:absolute;
  left:73px;
  top:405px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u112 {
  position:absolute;
  left:180px;
  top:444px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u113 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u114 {
  position:absolute;
  left:178px;
  top:501px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u117 {
  position:absolute;
  left:61px;
  top:444px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u118 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u119 {
  position:absolute;
  left:60px;
  top:501px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u122 {
  position:absolute;
  left:299px;
  top:444px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u123 {
  position:absolute;
  left:0px;
  top:15px;
  width:50px;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u124 {
  position:absolute;
  left:305px;
  top:501px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u126 {
  position:absolute;
  left:177px;
  top:85px;
  width:61px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u128 {
  position:absolute;
  left:88px;
  top:107px;
  width:55px;
  height:55px;
}
#u129 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u130 {
  position:absolute;
  left:265px;
  top:106px;
  width:55px;
  height:55px;
}
#u131 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
